@import url("https://fonts.googleapis.com/css?family=Calistoga");
@import "../../node_modules/reset-css/reset.css";
@import "./cold-lib.scss";

$white: white;
$black: #16161d;
$blue: #0b1d51;
$lavendar: #797596;
$light-lavendar: #a1869e;
$beige: #bbada0;
$tan: #d1c6ad;

@mixin calistoga($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Calistoga", cursive;
}

body {
  background-color: $light-lavendar;
}

h1,
h2 {
  @include calistoga($color: $white, $size: 42pt);
}

p {
  @include calistoga($color: $white, $size: 12pt);
}

button {
  @include button-normalize();
  @include calistoga($color: $white, $size: 12pt);
  border-radius: 10px;
  background-color: $blue;
  text-decoration: none;
  padding: 10px;
}

.primary-header {
  padding: 15px;
  margin-bottom: 15px;
  background-color: $light-lavendar;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(145deg, #91798e, #ac8fa9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  p {
    margin: 0 15px;
    transform: translateY(12px);
  }
}

.top-bar {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  background: #a1869e;
  box-shadow: inset 20px 20px 60px #897286, inset -20px -20px 60px #b99ab6;
  .edit {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    color: $white;
    border-radius: 10px;
    background-color: $blue;
    text-decoration: none;
  }
}

.profile-pic {
  $pic-size: 150px;
  width: $pic-size;
  height: $pic-size;
  margin: ($pic-size / 3) 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(145deg, #91798e, #ac8fa9);
  box-shadow: 20px 20px 60px #897286, -20px -20px 60px #b99ab6;
  display: flex;
  justify-content: center;
  align-items: center;
  .user-photo {
    width: 75%;
    border-radius: 50%;
  }
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .create-bar {
    width: 1200px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 50px;
    background: #a1869e;
    box-shadow: 20px 20px 60px #897286, -20px -20px 60px #b99ab6;
    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }
  .page {
    width: 1200px;
    height: 1000px;
    background-color: #cccccc;
    border-radius: 25px 25px 0 0;
    box-shadow: inset 20px 20px 60px #adadad, inset -20px -20px 60px #ebebeb;
  }
}
